@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: "light";
}

@theme inline {
  --root-bg: #fffef2;
  --color-base-content: var(--color-neutral-950);
}

@utility container {
  margin-inline: auto;
  padding-inline: --spacing(8);
}

.prose {
  --tw-prose-body: inherit;
}

[x-cloak] {
  display: none !important;
}
