---
import { LuArrowLeft } from "react-icons/lu";
import Layout from "./Layout.astro";

type Props = {
  frontmatter: {
    title: string;
  };
};

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="container">
    <div class="py-4">
      <a href="/" class="inline-flex items-center gap-2 text-sm hover:underline">
        <LuArrowLeft className="size-4" />
        Voltar
      </a>
    </div>
    <div class="prose mx-auto my-12 max-w-[80ch] font-serif">
      <slot />
    </div>
  </div>
</Layout>
